* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  background-color: #f4f7fc;
  /* background-color: #fff; */
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  user-select: none;
}
.logo span:first-child {
  font-size: 26px;
  color: #fff;
  background-color: #458ff6;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 10px;
}
.links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.links li {
  display: inline-block;
}
.links a {
  text-decoration: none;
  color: #8e8999;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.links a:hover,
.links a.active {
  color: #1f1534;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  nav {
    position: fixed;
    width: 100%;
    background: rgba(244, 247, 252, 0.8);
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
  .links {
    flex-direction: column;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px 0;
    z-index: 99;
    background-color: rgba(244, 247, 252, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    transform: scale(0);
    opacity: 0.5;
  }
  .links li {
    text-align: center;
    margin: 10px 0;
  }
  #menu-toggle:checked + .menu-icon + .links {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}
/* end nav */
/* hero sec */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 20px;
  position: relative;
}
.hero-text {
  width: 40%;
  height: 100%;
}
.hero-image {
  width: 60%;
  height: 100%;
}
.hero-text,
.hero-image {
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1f1534;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 21px;
  color: #8e8999;
  margin-bottom: 20px;
  line-height: 32px;
}
.hero-text button {
  background-color: #458ff6;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-text button:hover {
  background-color: #3a7bd5;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.services {
  padding: 50px 20px;
  /* text-align: center; */
  position: relative;
}
.sec-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f1534;
  margin-bottom: 20px;
  text-align: center;
}
.sec-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
  margin: 20px auto;
}
.sec-subtitle {
  text-align: center;
  font-size: 18px;
  color: #8e8999;
  margin-bottom: 40px;
}
.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  padding: 0 20px;
  /* overflow: hidden; */
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 40px 50px 0 #e5e9f666;
  padding: 40px;
}
.card .service-img {
  max-width: 80px;
  margin-block: 20px;
}
.card .service-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #7d7987;
}
.btn-outline {
  text-align: center;
  margin-top: 40px;
}
.btn-outline button {
  background-color: transparent;
  color: #458ff6;
  border: 1px solid #458ff6;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline button:hover {
  background-color: #458ff6;
  color: #fff;
}
.bg-img {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}
.bg-img img {
  width: 100%;
  height: auto;
}
.bg-bullets-start,
.bg-bullets-end {
  position: absolute;
  transform: translateY(-50%);
  width: 70px;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}
.bg-bullets-start {
  top: 20%;
  inset-inline-start: -50px;
}
.bg-bullets-end {
  top: 50%;
  inset-inline-end: -20px;
}
.bg-bullets-end img,
.bg-bullets-start img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    text-align: center;
  }
  .hero-image {
    margin-top: 20px;
  }
  .services {
    padding: 20px 0;
  }
}
.healthcare,
.apps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 100px 20px;
  position: relative;
  .sec-title {
    font-size: 32px;
    font-weight: 700;
    color: #1f1534;
    margin-bottom: 20px;
    text-align: start;
  }
  .sec-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    border-radius: 3px;
    background-color: #000;
    margin: 20px 10px;
  }
  .sec-subtitle {
    text-align: start;
    font-size: 18px;
    color: #8e8999;
    margin-bottom: 40px;
  }
  .image,
  .text {
    width: 50%;
    padding-inline: 20px;
  }
  .image img {
    width: 100%;
    height: auto;
  }
  .btn-outline {
    text-align: start;
    margin-top: 40px;
  }
}
.healthcare,
.apps {
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    .image,
    .text {
      width: 100%;
      padding-inline: 0;
    }
    .image {
      margin-bottom: 20px;
    }
  }
}
.apps {
  .btn-outline {
    button {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        transform: translateY(0px);
        transition: transform 0.3s ease;
      }
      &:hover i {
        transform: translateY(3px);
      }
    }
  }
}

.testimonials {
  border-radius: 24px;
  background: linear-gradient(-68deg, #67c3f3 0%, #5a98f2 100%);
  padding: 50px;
  color: #fff !important;
  position: relative;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
  .sec-title {
    color: #fff;
    margin-bottom: 50px;
    &::after {
      content: "";
      background: #fff;
    }
  }
  .testi-card {
    display: flex;
    justify-content: space-evenly;
    margin-block: 20px;
    .start,
    .end {
      width: 40%;
      display: flex;
      align-items: center;
    }
    .start {
      .testi-img img {
        width: 141px;
        height: 141px;
        border-radius: 50%;
      }
      .person-info h3 {
        margin-left: 22px;
        font-size: 18px;
        font-weight: bold;
        margin-block: 10px;
      }
      .person-info p {
        margin-left: 20px;
        font-size: 18px;
        opacity: 0.8;
        font-weight: 400;
      }
    }
    .end q {
      font-size: 19px;
      position: relative;
    }
    @media (max-width: 768px) {
      & {
        flex-direction: column;
        align-items: center;
      }
      .start,
      .end {
        width: 100%;
        padding: 0 20px;
        &.end q {
          margin-top: 20px;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    .prv-btn,
    .nxt-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #458ff6;
      cursor: pointer;
      .prv,
      .next {
        transition: all 0.3s ease-in-out;
      }
      .prv:hover {
        transform: translateX(-5px);
      }
      .next:hover {
        transform: translateX(5px);
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    .bullets {
      display: flex;
      gap: 10px;
      .bullet {
        width: 10px;
        height: 10px;
        background-color: #458ff6;
        border-radius: 50%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }
    @media (max-width: 768px) {
      & {
        width: 100%;
        margin-top: 40px;
      }
      .prv-btn,
      .nxt-btn {
        width: 40px;
        height: 40px;
      }
      .bullets {
        gap: 5px;
        .bullet {
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}
