* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
  background-color: #f4f7fc;
  /* background-color: #fff; */
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  user-select: none;
}
.logo span:first-child {
  font-size: 26px;
  color: #fff;
  background-color: #458ff6;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 10px;
}
.links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.links li {
  display: inline-block;
}
.links a {
  text-decoration: none;
  color: #8e8999;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.links a:hover,
.links a.active {
  color: #1f1534;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    padding: 10px 0;
  }
  .links li {
    text-align: center;
    margin: 10px 0;
  }
  #menu-toggle:checked + .menu-icon + .links {
    display: flex;
  }
}
/* end nav */
/* hero sec */
.hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  position: relative;
}
.hero-text {
  max-width: 500px;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1f1534;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 21px;
  color: #8e8999;
  margin-bottom: 20px;
  line-height: 32px;
}
.hero-text button {
  background-color: #458ff6;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-text button:hover {
  background-color: #3a7bd5;
}
.hero-image {
  max-width: 500px;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.services {
  padding: 50px 0;
  /* text-align: center; */
  position: relative;
}
.sec-title {
  font-size: 36px;
  font-weight: 700;
  color: #1f1534;
  margin-bottom: 20px;
  text-align: center;
}
.sec-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
  margin: 20px auto;
}
.sec-subtitle {
  text-align: center;
  font-size: 18px;
  color: #8e8999;
  margin-bottom: 40px;
}
.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  padding: 0 20px;
  /* overflow: hidden; */
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 40px 50px 0 #e5e9f666;
  padding: 40px;
}
.card .service-img {
  max-width: 80px;
  margin-block: 20px;
}
.card .service-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}
.card p {
  font-size: 16px;
  color: #7d7987;
}
.btn-outline {
  text-align: center;
  margin-top: 40px;
}
.btn-outline button {
  background-color: transparent;
  color: #458ff6;
  border: 1px solid #458ff6;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-outline button:hover {
  background-color: #458ff6;
  color: #fff;
}
.bg-img {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}
.bg-img img {
  width: 100%;
  height: auto;
}
.bg-bullets-start,
.bg-bullets-end {
  position: absolute;
  transform: translateY(-50%);
  width: 70px;
  z-index: -1;
  @media (max-width: 768px) {
    display: none;
  }
}
.bg-bullets-start {
  top: 20%;
  inset-inline-start: -50px;
}
.bg-bullets-end {
  top: 50%;
  inset-inline-end: -20px;
}
.bg-bullets-end img,
.bg-bullets-start img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .hero-text {
    text-align: center;
  }
  .hero-image {
    margin-top: 20px;
  }
  .services {
    padding: 20px 0;
  }
}
